<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon"
    href="https://img.icons8.com/external-xnimrodx-lineal-color-xnimrodx/64/000000/external-gym-fitness-and-gym-xnimrodx-lineal-color-xnimrodx-4.png">
</head>

<body>
  <header>
    {{#if user}}
    <nav class="nav-extended">
      <div class="nav-wrapper teal darken-">
        <div class="container">
          <a href="/" class="brand-logo"><i class="material-icons">android</i>Tech Blog</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#page-footer"><i>Contact</i></a></li>
            <li><a href="#"><i><span class="email">{{user.email}}</span></i></a></li>
            <li><a class="waves-effect waves-light white btn black-text" href="/auth/logout"><i
                  class="material-icons right "></i>Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {{else}}
    <nav>
      <div class="nav-wrapper teal darken-3">
        <a href="#!" class="brand-logo"><i class="material-icons">android</i>Tech Blog</a>
        <a href="/" class="brand-logo"><i class="material-icons">android</i>Tech Blog</a>
        <div class="right">
          <a class="waves-effect waves-light white btn black-text hoverable" href="/login">Log
            In</a>
          <span>or</span>
          <a class="waves-effect waves-light white btn black-text hoverable"
            href="/register">Join Now</a>
        </div>
      </div>
    </nav>
    {{/if}}
  </header>

  <main>
    {{{body}}}
  </main>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="js/browser.js"></script>

</body>
<footer id="page-footer" class="page-footer col s12 teal darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Tech Blog Repository</h5>
        <p class="grey-text text-lighten-4">Check out the repo for yourself <a
            href="https://github.com/tylerzeman/Tech-Blog" target="_blank">Here!</a></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact</h5>
        <a class="grey-text text-lighten-3" href="https://github.com/tylerzeman" target="_blank">Tyler's GitHub</a>
      </div>
    </div>
  </div>
</footer>

</html>