{{#if user}}
<div id="cardContainer" class="row"></div>
</div>

<div class="row col s12" id="Dashboard">
  <div class="container">
    <div class="col s12">

      <div class="row">
        <div class="col s12 ">
          <div class="card">
            <span class="card-title">Hello {{user.username}}</span>
            <div class="card-content center-align">
              <p>Create your own post by clicking the post button</p>
              <button class="btn waves-effect waves-light " type="submit" name="action">Post
                <i class="material-icons right">create</i>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{{else}}







{{!-- <div class="appTitle orange lighten-2 white-text"> --}}
  {{!-- </div>
<div class="divider orange lighten-2"></div>
<div class="section blue accent-4 white-text center">
  <h5>The Best Workouts. For Your Best Results</h5>
  <p>Get back to exercising and back to your best with FitSpace. Our library of workouts are ready to help you get the
    best results.</p>
</div>
<div class="divider orange lighten-2"></div>
<div class="section blue accent-4 white-text center">
  <h5>Save your workouts</h5>
  <p>Login/Register to save your workouts!</p>
</div>
<div class="divider orange lighten-2"></div>
<div class="section blue accent-4 white-text center">
  <h5>Discover workouts</h5>
  <p>Look for workouts by searching by equipment and targeting certain muscle groups</p>
</div>
</div>
<div class="divider orange lighten-2"></div> --}}
{{/if}}